//mdn color
$webkit-font-smoothing: antialiased;
$moz-osx-font-smoothing: grayscale;
$mdn-color-white: #fff;
$mdn-color-black: #000;
$mdn-color-dark-grey: #4e4e4e;
$mdn-background-dark: #1b1b1b;
$mdn-background-light: #fff;
$mdn-background-light-grey: #e2e2e2;
$color-announcement-banner-accent: #ff6d91;


