@import "../abstracts/variables";
@import "../abstracts/mixins";

.top-nav-wrap {
  background-color: #a1a47c;

  ul {
    width: 200px;
    height: 100px;
    max-height: $top-navigation-height;
    @include flex(row, space-between, center, wrap);
    // flex-flow: row nowrap;
    text-align: center;
    // // justify-items: center;
    // justify-content: space-between;

    li {
      width: 100px;
      padding: 5px;
      color: $text-primary;

      &:hover {
        background-color: aqua;
      }
    }
  }
}