@import "../abstracts/variables";

#app {

  width: 100%;
  height: 1000px;
  background-color: black;

  #app-header {
    width: 100%;
    height: auto;
    background-color: rgb(50, 63, 63);
    border-bottom: 2px solid $border-secondary;
  }

  // #app-main {
  // }

  // #app-footer {
  // }
}